In [1]:
!pip install sklearn
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

Requirement already satisfied: sklearn in /Users/ap/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/ap/opt/anaconda3/lib/python3.9/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /Users/ap/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: numpy>=1.14.6 in /Users/ap/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /Users/ap/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ap/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (2.2.0)

In [2]:
train_df = pd.read_csv('../data/processed/train_data_processed.csv', index_col='id')
train_df.head()

,title,genre,description,year,description_stemmed,description_stemmed_string
id,,,,,,
1,Oscar et la dame rose,drama,Listening in to a conversation between his do...,2009,"['listen', 'convers', 'doctor', 'parent', '10-...",listen convers doctor parent 10-year-old oscar...
2,Cupid,thriller,A brother and sister with a past incestuous r...,1997,"['brother', 'sister', 'past', 'incestu', 'rela...",brother sister past incestu relationship curre...
3,"Young, Wild and Wonderful",adult,As the bus empties the students for their fie...,1980,"['bu', 'empti', 'student', 'field', 'trip', 'm...",bu empti student field trip museum natur histo...
4,The Secret Sin,drama,To help their unemployed father make ends mee...,1915,"['help', 'unemploy', 'father', 'make', 'end', ...",help unemploy father make end meet edith twin ...
5,The Unrecovered,drama,The film's title refers not only to the un-re...,2007,"['film', ""'s"", 'titl', 'refer', 'un-recov', 'b...",film 's titl refer un-recov bodi ground zero a...

In [3]:
d1=train_df['description_stemmed_string'].copy()

In [4]:
l=[]
for i in range(1,len(d1)+1):
   l.append(len(d1[i].split(' ')))

In [5]:
print(len(l))

54214

In [6]:
l_arr = np.array(l)
print(l_arr)

[51 15 60 ... 22 64 33]

In [7]:
p_1 = np.percentile(l_arr, 10,interpolation = 'midpoint')

In [8]:
p=0
for l1 in l_arr:
    if (l1< p_1):
        p+=1
print("The number of outliers are "+str(p))

The number of outliers are 4661

In [9]:
if p<=(len(l)/10):
  l_mod = l_arr[(l_arr >= p_1)]

In [10]:
clean_l = l_mod.tolist()
len(clean_l)
print(min(clean_l))
print(len(clean_l))

26
49553

In [11]:
x=min(clean_l)
print(x)

26

In [12]:
print(d1[8])

ron petri keanu reev troubl teen whose life hang thread 's verg suspens school subject arrest break enter caus singl mother 's impend evict apart unless find resolut option seem life street crime

In [13]:
dl=d1.tolist()

In [14]:
print(len(dl))

54214

In [15]:
dl2=[]
for d1 in dl:
    if len(d1.split())>=x:
        dl2.append(d1)

In [16]:
print(len(dl2))

49553

In [17]:
tfIdfVectorizer=TfidfVectorizer(use_idf=True)
tfIdf = tfIdfVectorizer.fit_transform(dl2)
tfidf_df = pd.DataFrame(tfIdf[0].T.todense(), index=tfIdfVectorizer.get_feature_names(), columns=["TF-IDF"])
tfidf_df = tfidf_df.sort_values('TF-IDF', ascending=False)
print (tfidf_df.head(10))

            TF-IDF
oscar     0.313658
rose      0.281120
einstein  0.207200
bacon     0.199870
corn      0.198988
peggi     0.190394
stair     0.188113
wrestler  0.180720
pink      0.172744
furiou    0.165328

/Users/ap/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [18]:
tfidf_df['words'] = tfidf_df.index
index=list(range(1,len(tfidf_df)+1))
tfidf_df.index = index
print(tfidf_df)

         TF-IDF     words
1      0.313658     oscar
2      0.281120      rose
3      0.207200  einstein
4      0.199870     bacon
5      0.198988      corn
...         ...       ...
97775  0.000000      fűin
97776  0.000000    fřrste
97777  0.000000     fřrst
97778  0.000000    fřlger
97779  0.000000    żwhere

[97779 rows x 2 columns]

In [19]:
tfidf_df.iloc[1]

TF-IDF    0.28112
words        rose
Name: 2, dtype: object

In [20]:
mod_tfidf = tfidf_df[tfidf_df['TF-IDF']!=0]
tf_words = mod_tfidf['words'].tolist()
tf_words

['oscar',
 'rose',
 'einstein',
 'bacon',
 'corn',
 'peggi',
 'stair',
 'wrestler',
 'pink',
 'furiou',
 'fantast',
 'sweetheart',
 'nobodi',
 'straight',
 'listen',
 'christma',
 'except',
 'charm',
 'blue',
 'pop',
 'courag',
 'convers',
 'anyon',
 '10',
 'approach',
 'speak',
 'live',
 'imagin',
 'ladi',
 'hospit',
 'profession',
 'refus',
 'allow',
 'childhood',
 'doctor',
 'week',
 'wit',
 'full',
 'compani',
 'talk',
 'parent',
 'experi',
 'learn',
 'tell',
 'use',
 'meet',
 'old',
 'friend',
 'love',
 'year',
 'life']

In [21]:
mod_tfidf

      TF-IDF       words
1   0.313658       oscar
2   0.281120        rose
3   0.207200    einstein
4   0.199870       bacon
5   0.198988        corn
6   0.190394       peggi
7   0.188113       stair
8   0.180720    wrestler
9   0.172744        pink
10  0.165328      furiou
11  0.158914     fantast
12  0.150610  sweetheart
13  0.146698      nobodi
14  0.138717    straight
15  0.137689      listen
16  0.137192    christma
17  0.132727      except
18  0.131394       charm
19  0.130732        blue
20  0.130732         pop
21  0.130362      courag
22  0.129997     convers
23  0.124326       anyon
24  0.123835          10
25  0.121334    approach
26  0.120871       speak
27  0.119485        live
28  0.118078      imagin
29  0.117916        ladi
30  0.117781      hospit
31  0.117330  profession
32  0.116126       refus
33  0.115902       allow
34  0.113890   childhood
35  0.112999      doctor
36  0.111396        week
37  0.109161         wit
38  0.108217        full
39  0.106271     compani
40  0.105817        talk
41  0.099263      parent
42  0.091162      experi
43  0.089651       learn
44  0.084614        tell
45  0.083962         use
46  0.077662        meet
47  0.073723         old
48  0.070126      friend
49  0.067111        love
50  0.060416        year
51  0.056477        life

In [22]:
genres=train_df['genre'].copy()
genre_list = genres.tolist()

In [23]:
unique_genres = list(genres.unique())

In [24]:
unique_genres

['drama',
 'thriller',
 'adult',
 'documentary',
 'comedy',
 'crime',
 'reality-tv',
 'horror',
 'sport',
 'animation',
 'action',
 'fantasy',
 'short',
 'sci-fi',
 'music',
 'adventure',
 'talk-show',
 'western',
 'family',
 'mystery',
 'history',
 'news',
 'biography',
 'romance',
 'game-show',
 'musical',
 'war']

In [25]:
genre_prob = {}
for g in unique_genres:
    genre_prob[g]=0

In [26]:
genre_prob

{'drama': 0,
 'thriller': 0,
 'adult': 0,
 'documentary': 0,
 'comedy': 0,
 'crime': 0,
 'reality-tv': 0,
 'horror': 0,
 'sport': 0,
 'animation': 0,
 'action': 0,
 'fantasy': 0,
 'short': 0,
 'sci-fi': 0,
 'music': 0,
 'adventure': 0,
 'talk-show': 0,
 'western': 0,
 'family': 0,
 'mystery': 0,
 'history': 0,
 'news': 0,
 'biography': 0,
 'romance': 0,
 'game-show': 0,
 'musical': 0,
 'war': 0}

In [27]:
for i in genre_list:
    for j in genre_prob:
        if i == j:
            genre_prob[j]+=1

In [28]:
genre_prob

{'drama': 13613,
 'thriller': 1591,
 'adult': 590,
 'documentary': 13096,
 'comedy': 7447,
 'crime': 505,
 'reality-tv': 884,
 'horror': 2204,
 'sport': 432,
 'animation': 498,
 'action': 1315,
 'fantasy': 323,
 'short': 5073,
 'sci-fi': 647,
 'music': 731,
 'adventure': 775,
 'talk-show': 391,
 'western': 1032,
 'family': 784,
 'mystery': 319,
 'history': 243,
 'news': 181,
 'biography': 265,
 'romance': 672,
 'game-show': 194,
 'musical': 277,
 'war': 132}

In [29]:
total = sum(list(genre_prob.values()))
prob = {}
for i in genre_prob:
    temp = genre_prob[i]
    prob[i]=(temp/total)
print(prob)

{'drama': 0.2510975024901317, 'thriller': 0.0293466632235216, 'adult': 0.010882797801305936, 'documentary': 0.24156122034898736, 'comedy': 0.13736304275648356, 'crime': 0.009314937101117792, 'reality-tv': 0.01630575128195669, 'horror': 0.040653705684878444, 'sport': 0.00796842144095621, 'animation': 0.009185819161102298, 'action': 0.024255727302910687, 'fantasy': 0.005957870660714944, 'short': 0.09357361567122884, 'sci-fi': 0.011934186741432103, 'music': 0.013483602021618033, 'adventure': 0.014295200501715424, 'talk-show': 0.007212159220865459, 'western': 0.01903567344228428, 'family': 0.014461209281735344, 'mystery': 0.005884088980706091, 'history': 0.004482237060537868, 'news': 0.0033386210204006347, 'biography': 0.0048880363005865644, 'romance': 0.012395322241487438, 'game-show': 0.0035784114804294095, 'musical': 0.005109381340613126, 'war': 0.0024347954402921756}

In [30]:
# genre_prob = {}
# for g in unique_genres:
#     genre_prob[g]=0

In [31]:
most_likely_genre = {}
for j in tf_words:
    genre_prob = {}
    for g in unique_genres:
        genre_prob[g]=0
    for i in train_df.index:
        if j in train_df['description_stemmed'].iloc[i-1]:
            genre_prob[train_df['genre'].iloc[i-1]]+=1
    
    most_likely_genre[j]=max(genre_prob, key=genre_prob.get)

In [32]:
most_likely_genre

{'oscar': 'documentary',
 'rose': 'drama',
 'einstein': 'documentary',
 'bacon': 'documentary',
 'corn': 'documentary',
 'peggi': 'drama',
 'stair': 'drama',
 'wrestler': 'documentary',
 'pink': 'documentary',
 'furiou': 'drama',
 'fantast': 'documentary',
 'sweetheart': 'drama',
 'nobodi': 'drama',
 'straight': 'drama',
 'listen': 'drama',
 'christma': 'drama',
 'except': 'drama',
 'charm': 'drama',
 'blue': 'documentary',
 'pop': 'documentary',
 'courag': 'documentary',
 'convers': 'documentary',
 'anyon': 'drama',
 '10': 'documentary',
 'approach': 'documentary',
 'speak': 'documentary',
 'live': 'drama',
 'imagin': 'drama',
 'ladi': 'drama',
 'hospit': 'drama',
 'profession': 'documentary',
 'refus': 'drama',
 'allow': 'documentary',
 'childhood': 'drama',
 'doctor': 'drama',
 'week': 'documentary',
 'wit': 'documentary',
 'full': 'documentary',
 'compani': 'drama',
 'talk': 'documentary',
 'parent': 'drama',
 'experi': 'documentary',
 'learn': 'drama',
 'tell': 'documentary',
 'use': 'documentary',
 'meet': 'drama',
 'old': 'drama',
 'friend': 'drama',
 'love': 'drama',
 'year': 'documentary',
 'life': 'drama'}

documentary

97779